# Ambiente do servidor (development, test, production)
NODE_ENV=development

# Porta em que o servidor backend irá rodar
PORT=8080

# Credenciais da Shopee Affiliate Open API (Obtenha no console de afiliados da Shopee)
SHOPEE_APP_ID=seu_shopee_app_id_aqui
SHOPEE_SECRET=seu_shopee_secret_aqui

# Endpoint GraphQL da Shopee Affiliate API
SHOPEE_GRAPHQL_ENDPOINT=https://open-api.affiliate.shopee.com.br/graphql
